@import url("https://fonts.google.com/specimen/Barlow+Semi+Condensed");

$Family : 'Barlow Semi Condensed', Helvetica, sans-serif;
$weights : 650;
$margin_auto : 0xp auto;


$Radial_Gradient: radial-gradient(circle at center,hsl(214, 47%, 23%), hsl(237, 49%, 15%));

$Scissors_Gradient : radial-gradient(circle at center,hsl(39, 89%, 49%), hsl(40, 84%, 53%));
$Paper_Gradient : radial-gradient(circle at center,hsl(230, 89%, 62%), hsl(230, 89%, 65%));
$Rock_Gradient : radial-gradient(circle at center,hsl(349, 71%, 52%), hsl(349, 70%, 56%));

$logo_Scissors : url("../images/icon-scissors.svg");
$logo_Paper : url("../images/icon-paper.svg");
$logo_Rock : url("../images/icon-rock.svg");
$logo_Rules : url("../images/image-rules.svg");
$logo_Driehoek : url("../images/bg-triangle.svg");
$logo_Close : url("../images/icon-close.svg");

$Dark_Text : hsl(229, 25%, 31%);
$Score_Text : hsl(229, 64%, 46%);
$Header_Outline : hsl(217, 16%, 45%);