@import url("https://fonts.google.com/specimen/Barlow+Semi+Condensed");
$Family : 'Barlow Semi Condensed', Helvetica, sans-serif;

$Radial_Gradient: hsl(214, 47%, 23%), hsl(237, 49%, 15%);

$Scissors_Gradient : hsl(39, 89%, 49%), hsl(40, 84%, 53%);
$Paper_Gradient : hsl(230, 89%, 62%), hsl(230, 89%, 65%);
$Rock_Gradient : hsl(349, 71%, 52%), hsl(349, 70%, 56%);

$Dark_Text : hsl(229, 25%, 31%);
$Score_Text : hsl(229, 64%, 46%);
$Header_Outline : hsl(217, 16%, 45%);